@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --MOVE_AROUND: 2px;
}

#global-name {
	text-align: center;
	font-family: Tahoma, sans-serif;
  font-size: 50px;
}

#global-name-line {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 5%;
  border-top: 1px solid black;
  background-color: #315587;
  border: 2px solid #000000;
}

#article-name {
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
}

.section-name {
  font-family: 'Roboto', sans-serif;
}

#article-content {
}

.cmath {
  text-align: center;
}

.content-text {
  width: 80%;
  margin-left: 10%;
  font-family: 'Merriweather', serif;
}

code {
  word-break: break-all;
  white-space: pre-wrap;
  font-family: 'Fira Code', monospace;
  background-color: rgb(240, 240, 240);
  margin-left: 15%;
  width: 70%;
  border-radius: 20px 20px 20px 20px;
}

.line-number {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: inline-block;
  text-align: right;
  padding-right: 1em; /* Adjust the padding as needed */
  color: #000000; /* Adjust the color as needed */
  font-family: monospace; /* Use a fixed-width font */
  font-size: large;
}

h2 {
  text-align: center;
}

.symbol-change {
  color: gray;
}

.symbol-change:hover {
  color: black;
}

.button-link {
  width: auto;
  background-color: #eafff3;
  margin-left: 10%;
  border-radius: 20px 20px 20px 20px;
  border: 2px solid #61b58e;
  box-shadow: 1px 1px#61b58e;
  color: #61b58e;
  box-sizing: border-box;
  overflow: hidden;
  font-family: Tahoma, sans-serif;
  font-size: large;
  font-family: 'Poppins', sans-serif;
}

.link {
  font-family: 'Courier New', monospace;
}

a {
  border-bottom: 2px dotted #000;
  text-decoration: none;
  color: #000;
}

/* Back to top button */
html {
	scroll-behavior: smooth;
}

.back-to-top {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
  border: 2px solid black;
	border-radius: 0.5rem;
	padding: 0.5rem;
	text-decoration: none;
	transition: 0.2s ease-out;
}

.back-to-top span {
	color: #000000;
	font-size: 3rem;
	transition: 0.2s ease-out;
  border-color: black;
}

.back-to-top:hover {
	background-color: #ffffff;
  border-color: #000;
}

.back-to-top:hover span {
	transform: translateY(-4px);
}

.quote {
  width: 60%;
  margin-left: 20%;
  background-color: #c5fbc8;
  box-shadow: 5px 5px#045415;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.quote:hover {
  animation: moveInCircle 1s linear infinite;
}

@keyframes moveInCircle {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(var(--MOVE_AROUND)) translateY(0);
  }
  50% {
    transform: translateX(var(--MOVE_AROUND)) translateY(var(--MOVE_AROUND));
  }
  75% {
    transform: translateX(0) translateY(var(--MOVE_AROUND));
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.cmath {
  font-size: larger;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin-left: 20%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.button-table-name {
  margin-top: 20px;
  width: auto;
  background-color: #ffeaea;
  margin-left: 10%;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #b56161;
  color: #b56161;
  box-sizing: border-box;
  overflow: hidden;
  font-family: Tahoma, sans-serif;
  font-size: large;
  font-family: 'Poppins', sans-serif;
}

.button-table-name:hover {
  box-shadow: 1px 1px #6d2e2e;
}

.button-calculate {
  margin-top: 20px;
  width: auto;
  background-color: #ffeaea;
  margin-left: 10%;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #b56161;
  color: #b56161;
  box-sizing: border-box;
  overflow: hidden;
  font-family: Tahoma, sans-serif;
  font-size: large;
  font-family: 'Poppins', sans-serif; 
}

.button-calculate:hover {
  box-shadow: 1px 1px #6d2e2e;
}

.button-predict {
  margin-top: 20px;
  width: auto;
  background-color: #ffeaea;
  margin-left: 10%;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #b56161;
  color: #b56161;
  box-sizing: border-box;
  overflow: hidden;
  font-family: Tahoma, sans-serif;
  font-size: large;
  font-family: 'Poppins', sans-serif; 
}

.button-predict:hover {
  box-shadow: 1px 1px #6d2e2e;
}

.slider-container {
  width: 60%;
  margin-left: 20%;
  position: relative;
}

#slider {
  width: 100%;
}

#slider-values {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 12px;
  position: relative;
  margin-top: 10px;
}

#slider-values span {
  flex: 1;
  text-align: center;
  position: absolute;
  transform: translateX(-50%);
}

#slider-values span:nth-child(1) {
  left: 0%;
}

#slider-values span:nth-child(2) {
  left: 11.11%;
}

#slider-values span:nth-child(3) {
  left: 22.22%;
}

#slider-values span:nth-child(4) {
  left: 33.33%;
}

#slider-values span:nth-child(5) {
  left: 44.44%;
}

#slider-values span:nth-child(6) {
  left: 55.55%;
}

#slider-values span:nth-child(7) {
  left: 66.66%;
}

#slider-values span:nth-child(8) {
  left: 77.77%;
}

#slider-values span:nth-child(9) {
  left: 88.88%;
}

#slider-values span:nth-child(10) {
  left: 100%;
}



@media only screen and (max-width: 768px) {
  .button-calculate {
    font-size: 10px;
  }

  .button-predict {
    font-size: 10px;
  }

  .button-table-name {
    font-size: 10px;
  }

  table {
    width: 96%;
    font-size: 7px;
    margin-left: 2%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0px;
    width: 5px;
  }

  .cmath {
    max-width: 95%;
    font-size: 10px;
  }

  .button-link {
    margin-left: 2px;
    font-size: 10px;
  }

  .link {
    white-space: normal;
    font-size: 10px;
    word-break: break-all;
    hyphens: auto;
  }

  .back-to-top {
    right: 10px;
    bottom: 10px;
    width: 10px;
    height: 10px;
  }

  .back-to-top span {
    color: #000000;
    font-size: 20px;
  }

  .content-text {
    margin-left: 5%;
    width: 90%;
  }

  a {
    line-height: 1.6em;
  }

  code {
    margin-inline-start: auto;
    margin-inline-end: 10%;
    width: calc(100% - 10px);
    font-size: 10px;
  }

  .line-number {
    font-size: 10px;
  }
}